* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

body {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    /* width: 100vw */
}

/* 
.container {
width: 100%;
} */

.headerbox {
    background-color: green;
    position: sticky;
    /**its makes the header stick to a postion*/
    top: 0px;
}

P span {
    color: green;
}

ul {
    display: flex;
    gap: 40px;
}

nav h1 {
    text-align: center;
}

.companyname {
    padding: 20px;
}

nav p {
    text-align: center;
    font-size: 13px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 7px 20px;
    max-height: 30px;
    background-color: greenyellow;
}

.subnav {
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    gap: 50px;
}

hr {
    border-top: solid yellowgreen;
}

a {
    color: #fff;
}

section .image img {
    width: 100%;
}

.image {
    padding-right: 20px;
    padding-left: 20px;
}

.wrap {
    padding-right: 20px;
    padding-left: 20px;
}

.wrap .collection img {
    width: 100%;
}

.wrap,
.wrapper,
.product,
.line {
    margin-bottom: 40px;
}

.outline {
    padding: 20px;
    font-size: 18px;
}

.intro h1,
.wrap h1,
.wrapper h1,
.product h1,
.line h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.collection,
.collect,
.produce,
.finishing {
    display: flex;
    gap: 30px;
    padding: 0 30px;
    justify-content: center;
}

.collection img,
.collect img,
.produce img,
.finishing img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
}

.view {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.btn {
    background-color: #40c526;
    padding: 0.7rem 2rem;
    color: white;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
        0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-top: 10px;
    font-size: 0.9375rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
}

@media screen and (max-width: 768px) {
    .nav {
        font-size: 14px;
    }

    .nav .right .mobilehideA {
        display: none;
    }

    .subnav {
        margin-top: 6px;
        padding: 6px;
        gap: 34px;
    }

    .companyname {
        padding: 13px;
    }

    .outline p {
        text-align: center;
        font-size: 18px;
    }

    .collection,
    .collect,
    .produce,
    .finishing {
        gap: 15px;

    }

    .collection .mobilehideB,
    .collect .mobilehideB,
    .produce .mobilehideB,
    .finishing .mobilehideB {
        display: none;

    }

}

@media screen and (max-width: 425px) {

    .nav .right .mobilehideD {
        display: none;
    }

    .collection,
    .collect,
    .produce,
    .finishing {
        flex-direction: column;

    }

    .subnav {
        gap: 12px;
    }

    .subnav .mobilehideM {
        display: none;
    }

    .subnav a {
        font-size: 11px;
    }

    .nav .right .mobilehideE {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .left p{
        font-size: 13px;
    }

    .intro h1,
    .wrap h1,
    .wrapper h1,
    .product h1,
    .line h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 320px) {
    .subnav a {
        font-size: 9px;
    }
}