* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none;
}

body {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
}

header {
    background-color: green;
    
}

ul {
    display: flex;
    gap: 40px;
}

nav h1 {
    text-align: center;

}

.companyname{
    padding: 20px;
}

nav p{
    text-align: center;
    font-size: 13px;
}

.nav {
    display: flex;
    justify-content:space-between;
    padding: 7px 20px;
    max-height: 30px;
    background-color: greenyellow;
}

.subnav{
    margin-top: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    gap: 50px;
    
}

hr{
    border-top: solid yellowgreen;
}

a{
    color: #fff;
}